ROLIE feed category missing

The ROLIE feeds generated by the `csaf_provider` are missing the category field
```
"category": [ 
        {
          "scheme": "urn:ietf:params:rolie:category:information-type",
          "term": "csaf"
        }
      ]
```
which is required as per [RFC 8322 Section 6.1](https://datatracker.ietf.org/doc/html/rfc8322#section-6.1).

The existence of that element should also be checked in the Provider Checker.

Successfully retested. 